.navbar-inner {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.7) !important;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.7) !important;
	background-image:-webkit-linear-gradient(top, #333, #111) !important;
}

.pane {
	position:absolute;
	left:0;
	right:0;
	top:40px;
	bottom:0;
	background:#efefef;
}
.sidebar{
	margin-right:10px;
	position:relative;
	float:left;
	height:100%;
	border-right:1px solid #ccc;
	width:260px;
	background:#ffffff;
	display:block;
	overflow-y:auto;
	overflow-x:hidden;
}
.main{
	display:block;
	height:100%;
	position:relative;
	overflow-x:hidden;
	overflow-y:auto;
}

.movie-image{
	width: 100px;
}
.movie-main-info{
	width: 140px;
	float: right;
}

.movie-detail-top:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.movies-list li {
	padding:10px;
	border:1px solid #ccc;
	display: block;
	width: 270px;
	height: 260px;
	float: left;
	margin: 20px;
}

.movies-list .info {
	padding:10px 0;
	font-size:0.9em;
}
.with-icons img {
	width: 50px;
}
.with-icons{
	margin-top: 14px;
	font-size: 20px;
	line-height: 20px;
}
.with-icons.genre{
	font-size: 14px;
	line-height: 14px;	
	width: 220px;
	margin: auto;
	margin-top: 10px;
}
.movie-title{
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 17px;
	text-align: center
}
.sidebar ul{
	height: 150px;
	overflow: scroll;
	width: 235px;
}
.sidebar li.selected{
    background:green;
    color:#fff;
}