.navbar-inner {
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.7) !important;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.7) !important;
	background-image:-webkit-linear-gradient(top, #333, #111) !important;
}

.pane {
	position:absolute;
	left:0;
	right:0;
	top:40px;
	bottom:0;
	background:#efefef;
}
.sidebar{
	position:relative;
	float:left;
	height:100%;
	width:260px;
	background:#ffffff;
	display:block;
	overflow-y:auto;
	overflow-x:hidden;
}
.main{
	display:block;
	height:100%;
	position:relative;
	overflow-x:auto;
	overflow-y:auto;
	background-image:-webkit-linear-gradient(top, #4A4A4A, #2A2A2A);
	background-image: -moz-linear-gradient(top, #4A4A4A, #2A2A2A);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4A4A4A), to(#2A2A2A));
	background-image: -o-linear-gradient(top, #4A4A4A, #2A2A2A);
	background-image: linear-gradient(to bottom, #4A4A4A, #2A2A2A);
}

.movie-image{
	width: 100px;
}
.movie-main-info{
	width: 140px;
	float: right;
}

.movie-detail-top:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.movies-list li {
	position:relative;
	border:0px solid #ccc;
	display: block;
	width:348px;;
	float: left;
	margin: 20px;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	background:#fff;
}

.movies-list .info {
	padding:10px 0;
	font-size:0.9em;
}
.with-icons img {
	width: 50px;
}
.with-icons{
	margin-top: 14px;
	font-size: 20px;
	line-height: 20px;
}
.with-icons.genre{
	font-size: 14px;
	line-height: 14px;	
	width: 220px;
	margin: auto;
	margin-top: 10px;
}
.movie-title{
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 17px;
	text-align: center;
	color:#fff;
	background:rgba(0,0,0,0.6);
	padding:10px;
}
.sidebar ul{
	
}

.sidebar ul li {
	padding:10px 5px;
	background:#e0e0e0;
	border-top:1px solid rgba(255,255,255,0.7);
	border-bottom:1px solid rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(top, #efefef, #E0E0E0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#efefef), to(#E0E0E0));
	background-image: -webkit-linear-gradient(top, #efefef, #E0E0E0);
	background-image: -o-linear-gradient(top, #efefef, #E0E0E0);
	background-image: linear-gradient(to bottom, #efefef, #E0E0E0);
	font-size:0.9em;
	font-weight:bold;
	color:#666;
}
.sidebar li.selected{
    background:green;
    color:#fff;
	background-image: -moz-linear-gradient(top, #32b200, #2b9900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#32b200), to(#2b9900));
	background-image: -webkit-linear-gradient(top, #32b200, #2b9900);
	background-image: -o-linear-gradient(top, #32b200, #2b9900);
	background-image: linear-gradient(to bottom, #32b200, #2b9900);    
	border-top:1px solid rgba(255,255,255,0.7);
}
.sidebar .sidebar-title {
	padding:10px 5px;
	background:#e0e0e0;
	border-top:1px solid rgba(255,255,255,0.7);
	border-bottom:1px solid rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(top, #585858, #4a4a4a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#585858), to(#4a4a4a));
	background-image: -webkit-linear-gradient(top, #585858, #4a4a4a);
	background-image: -o-linear-gradient(top, #585858, #4a4a4a);
	background-image: linear-gradient(to bottom, #585858, #4a4a4a);
	font-size:0.9em;
	font-weight:bold;
	color:#fff;	
}
.movie-comments{
	width: 347px;
	height: 490px;
	left: 348px;
	border-left: 1px solid #000;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	top: 0px;
	z-index: 0;
	background-color: #fff;
	position: absolute;
	z-index: 1;
	display:none;
}
.movie-info{
	position:absolute;
	left:167px;
	bottom:20px;	
	width:200px;
	-box-shadow:0 0 5px rgba(0,0,0,0.9);
	padding-top:20px;
	background:url(/img/triangulo.png) no-repeat top right;
	z-index: 2;
}

.movie-listed.open {
	width:696px;
}